<h1>Edit Item</h1>
<%= form_for [@list, @item] do |f| %>
  <p>Item Name: <%= f.text_field :name  %></p>
  <p>Quantity: <%= f.number_field :quantity %></p>
  <%= fields_for @store do |store| %>
    <p>Store Name: <%= store.text_field :name  %></p>
  <% end %>
  <%= f.submit  %>
<% end %>
